.posLayout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding-top: 64px;
    /* Height of header (increased for mobile) */
    position: relative;
    background-color: var(--color-bg);
    overflow-x: hidden;
}

.scrollArea {
    flex: 1;
    overflow-y: auto;
    position: relative;
    scrollbar-width: none;
}

.scrollArea::-webkit-scrollbar {
    display: none;
}